<extend name="Layout/master" />
<block name="title">视频标签编辑-</block>
<block name="head">
</block>
<block name="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
          <div class=""> <a href="{:U('/short_video/tag')}" target="_self" class="btn btn-primary ">返回</a> </div>
        <div class="ibox-title">
          <h5><a href="{:U('/short_video/tag')}"> 视频标签管理</a> > <small>视频编辑</small></h5>
          <div class="ibox-tools">
              <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
   </div>
        </div>
        <div class="ibox-content">
          <form method="post" name="edit" target="_self" action="{:U('/short_video/tag_edit')}" class="form-horizontal">
              <input type="hidden" name="id" value="{$tag.id}" />
            <div class="form-group">
              <label class="col-sm-2 control-label">标签名称：</label>
              <div class="col-sm-10">
                <input type="text" name="tag_name" value="{$tag.tag_name}" class="form-control">
                  <span class="help-block m-b-none" style="color: #777">*</span>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
              <div class="form-group">
                  <label class="col-sm-2 control-label">标签编号：</label>
                  <div class="col-sm-10">
                      <input type="text" name="tag_id" value="{$tag.tag_id}" class="form-control">
                      <span class="help-block m-b-none" style="color: #777">*</span>
                  </div>
              </div>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-primary" type="submit">保存内容</button>
                <button class="btn btn-white" type="reset">取消</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</block>
<block name="js">
<script type="text/javascript">
    $(document).ready(function () {

        var editor_a = UE.getEditor('short_video_desc',{initialFrameHeight:400, serverUrl: '__PUBLIC__/js/plugins/ueditor/php/controller.php'});
        var editor_b = UE.getEditor('short_video_rule',{initialFrameHeight:300, serverUrl: '__PUBLIC__/js/plugins/ueditor/php/controller.php'});
        //--自动切换提交地址----
//        var doc=document,
//        version = editor_a.options.serverUrl || editor_a.options.imageUrl || "php",
//        form=doc.getElementById("form");

        //-----

    });
</script>
</block>