<extend name="Layout/master" />
<block name="title">banner编辑-</block>
<block name="head">
</block>
<block name="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class=""> <a href="{:U('/short_vbanner/index')}" target="_self" class="btn btn-primary ">返回</a> </div>
                <div class="ibox-title">
                    <h5><a href="{:U('/short_vbanner/index')}"> banner管理</a> > <small>banner编辑</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" id="form1" name="edit" target="_self" action="{:U('/short_vbanner/edit')}" class="form-horizontal">
                        <input type="hidden" name="id" value="{$short_vbanner.id}" />

                        <div class="form-group">
                            <label class="col-sm-2 control-label">标题 <span  style="color:#e91e63 ">*</span>：</label>
                            <div class="col-sm-8">
                                <input type="text" name="title" value="{$short_vbanner.title}" class="form-control" required="" aria-required="true">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">上传素材： <span  style="color:#e91e63 ">*</span>：</label>
                            <div class="col-sm-10">
                                <img class="pic_view_detail" src="<if condition="$short_vbanner['image']">{$short_vbanner['image']}<else/>/Public/img/4041.jpg</if>" style="max-width: 320px; max-height: 160px;" />
                                <div style="margin: 4px; color:red">*标准尺寸为：640*320</div>

                                <input type="hidden" id="image" data-url="{$short_vbanner.image}" name="image" value="{$short_vbanner.image}" class="view_img form-control" required="" aria-required="true">
                                <span class="help-block m-b-none"><iframe src="{:U('/admin/upload/show',array('sid'=>'image','fileback'=>'image'))}" scrolling="no" topmargin="0" width="300" height="36" marginwidth="0" marginheight="0" frameborder="0" align="left" style="margin-top:3px; float:left"></iframe></span>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">跳转链接： <span  style="color:#e91e63 ">*</span>：</label>
                            <div class="col-sm-8">
                                <input type="text" name="url" value="{$short_vbanner.url}" class="form-control" required="" aria-required="true">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">权重： ：</label>
                            <div class="col-sm-8">
                                <input type="text" name="order" value="{$short_vbanner.order}" class="form-control" required="" aria-required="true">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group" style="display: none">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input id="hello" class="laydate-icon form-control layer-date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">时间区间(*不可更改*)：</label>
                            <div class="col-sm-10">
                                <input placeholder="开始日期" name="begin_time" value="{$short_vbanner.begin_time}" class="form-control layer-date" id="start" required="" aria-required="true">
                                <input placeholder="结束日期" name="end_time" value="{$short_vbanner.end_time}" class="form-control layer-date" id="end" required="" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">保存内容</button>
                                <button class="btn btn-white" type="reset">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <!-- iCheck -->
    <script src="__PUBLIC__/js/plugins/iCheck/icheck.min.js"></script>


    <!-- layerDate plugin javascript -->
    <!--<script src="__PUBLIC__/js/plugins/layer/laydate/laydate.js"></script>-->
    <!--<script src="__PUBLIC__/js/plugins/layer/layer.js"></script>-->
    <script type="text/javascript">
        var serverFileId = 0;


        function checktosubmit() {
            var txt_firstname = $.trim($("#firstname").attr("value"))
            var txt_lastname = $.trim($("#lastname").attr("value"))


            var isSuccess = 1;
            if ($("input[name='title']").val().length == 0) {
                layer.msg('视频标题不能够为空' || "提示信息！");

                isSuccess = 0;
                return;
            }
            if (serverFileId == 0) {
                layer.msg('请您上传视频' || "提示信息！");
                isSuccess = 0;
                return;
            }
            $("input[name='url']").val(serverFileId);
            if (isSuccess == 1) {
                form1.submit();
            }
        }

        function changeGoodsClass(_this) {
            var v = $(_this).val();
            if (v == 2) {
                $("#probabilityShow").show();
                $("#short_vbannerPriceShow").hide();
                $("#short_vbannerPriceShowLine").hide();
            } else if (v == 3) {
                $("#short_vbannerPriceShow").show();
                $("#short_vbannerPriceShowLine").show();
                $("#probabilityShow").hide();

            } else {
                $("#short_vbannerPriceShow").hide();
                $("#short_vbannerPriceShowLine").hide();
                $("#probabilityShow").hide();
            }
        }

        function changeGoodsType(_this) {
            var v = $(_this).val();
            if (v == 2) {
                $("#cardShow").show();
                $("#cardShowLine").show();
                $("#jumpUrlShow").hide();
                $("#jumpUrlShowLine").hide();
            } else if (v == 3 || v == 4) {
                $("#jumpUrlShow").show();
                $("#jumpUrlShowLine").show();
                $("#cardShow").hide();
                $("#cardShowLine").hide();
            } else {
                $("#cardShow").hide();
                $("#cardShowLine").hide();
                $("#jumpUrlShow").hide();
                $("#jumpUrlShowLine").hide();

            }
        }
    </script>

    <script src="//qzonestyle.gtimg.cn/open/qcloud/js/vod/sdk/uploaderh5V3.js" charset="utf-8"></script>
    <!--<script src="//qzonestyle.gtimg.cn/open/qcloud/js/vod/sdk/uploaderh5V3.js" charset="utf-8"></script>-->
    <script type="text/javascript">
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }






        //外部js调用
        laydate({
            elem: '#hello', //目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
            event: 'focus' //响应事件。如果没有传入event，则按照默认的click
        });
        //日期范围限制
        var start = {
            elem: '#start',
            format: 'YYYY/MM/DD hh:mm:ss',
            min: laydate.now(), //设定最小日期为当前日期
            max: '2099-06-16 23:59:59', //最大日期
            istime: true,
            istoday: false,
            choose: function(datas) {
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#end',
            format: 'YYYY/MM/DD hh:mm:ss',
            min: laydate.now(),
            max: '2099-06-16 23:59:59',
            istime: true,
            istoday: false,
            choose: function(datas) {
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate(start);
        laydate(end);
    </script>
</block>