<extend name="Layout/master" />
<block name="title">素材编辑-</block>
<block name="head">
</block>
<block name="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
          <div class=""> <a href="{:U('/home/index')}" target="_self" class="btn btn-primary ">返回</a> </div>
        <div class="ibox-title">
          <h5><a href="{:U('/home/index')}"> 首页管理</a> > <small>素材编辑</small></h5>
          <div class="ibox-tools">
              <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
   </div>
        </div>
        <div class="ibox-content">
          <form method="post" name="edit" target="_self" action="{:U('/home/edit')}" class="form-horizontal">
              <input type="hidden" name="id" value="{$config.id}" />
            <div class="form-group">
              <label class="col-sm-2 control-label">对应板块：</label>
              <div class="col-sm-10">
                  <select name="category" class="form-control" onchange="selectHomeEdit(this)">
                      <volist name="home_category" id="item" key="category_id">
                      <option value="{$key}" <if condition="$config.category eq $key">selected</if>>{$item}</option>
                      </volist>
                  </select>
                  <span class="help-block m-b-none" style="color: #777">*</span>
              </div>
          </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                  <label class="col-sm-2 control-label">视频名称：</label>
                  <div class="col-sm-10">
                      <input type="text" name="name" value="{$config.name}" class="form-control">
                      <span class="help-block m-b-none" style="color: #777">*</span>
                  </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                  <label class="col-sm-2 control-label">视频图片：</label>
                  <div class="col-sm-10">
                      <input type="text" id="pic" data-url="{$config.pic}" name="pic" value="{$config.pic}" class="form-control view_img">
                      <span class="help-block m-b-none"><iframe src="{:U('/admin/upload/showgood',array('sid'=>'goods','fileback'=>'pic'))}" scrolling="no" topmargin="0" width="600" height="36" marginwidth="0" marginheight="0" frameborder="0" align="left" style="margin-top:3px; float:left"></iframe></span> </div>
              </div>

              <div class="hr-line-dashed"></div>
              <div class="form-group">
                  <label class="col-sm-2 control-label">跳转链接：</label>
                  <div class="col-sm-10">
                      <input type="text" id="jump_url" name="jump_url" value="{$config.jump_url}" class="form-control">
                      <span class="help-block m-b-none" style="color: #777"></span> </div>
              </div>

              <div class="hr-line-dashed"></div>
              <div class="form-group" id="showMmoney" style="display: none;">
                  <label class="col-sm-2 control-label">消耗M币：</label>
                  <div class="col-sm-10">
                      <input type="text" name="credit" value="{$config.credit|default=0}" class="form-control">
                      <span class="help-block m-b-none" style="color: #777">*兑换所需M币或每次抽奖所需M币</span></span> </div>
              </div>


              <div class="hr-line-dashed"></div>
              <div class="form-group">
                  <label class="col-sm-2 control-label">视频权重：</label>
                  <div class="col-sm-10">
                      <input type="text" name="weight" value="{$config.weight|default=0}" class="form-control">
                      <span class="help-block m-b-none" style="color: #777">*数字越大越靠前</span></span> </div>
              </div>

              <div class="hr-line-dashed"></div>
              <div class="form-group">
                  <label class="col-sm-2 control-label">视频状态：</label>
                  <div class="col-sm-10">
                      <select name="status" class="form-control">
                          <option value="1">发布状态</option>
                          <option value="0" <if condition="$config.status eq '0'">selected</if>>下架</option>
                      </select>
                      <span class="help-block m-b-none" style="color: #777">*</span> </div>
              </div>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-primary" type="submit">保存内容</button>
                <button class="btn btn-white" type="reset">取消</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


    <script>
        function selectHomeEdit(_this){
            var val = $(_this).val();
            if(val == 'ico' || val=='banner' || val=='bulletin'){
                $("#showMmoney").hide();
            }else{
                $("#showMmoney").show();
            }
        }
    </script>
</block>
