<extend name="Layout/master" />
<block name="title">Banner编辑-</block>
<block name="head">
</block>
<block name="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class=""> <a href="{:U('/shop_vbanner/index')}" target="_self" class="btn" style="background: #e00214;color: #fff;">返回</a> </div>
                <div class="ibox-title">
                    <h5><a href="{:U('/shop_vbanner/index')}" style="color: #e00214;">添加Banner</a> > <small>Banner编辑</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" id="form1" name="edit" target="_self" action="{:U('/shop_vbanner/edit')}" class="form-horizontal">
                        <input type="hidden" name="id" value="{$shop_vbanner.id}" />

                        <div class="form-group">
                            <label class="col-sm-2 control-label">标题 <span  style="color:#e91e63 ">*</span>：</label>
                            <div class="col-sm-8">
                                <input type="text" name="title" value="{$shop_vbanner.title}" class="form-control" required="" aria-required="true" placeholder="输入标题">
                            </div>
                        </div>
                  
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">上传素材： <span  style="color:#e91e63 ">*</span>：</label>
                            <div class="col-sm-10">
                                <img class="pic_view_detail" src="<if condition="$shop_vbanner['picurl']">{$shop_vbanner['picurl']}<else/>/Public/img/4041.jpg</if>" style="max-width: 320px; max-height: 160px;" />
                                <div style="margin: 4px; color:red">*标准尺寸为：640*320</div>
                                <input type="hidden" id="picurl" data-url="{$shop_vbanner.picurl}" name="picurl" value="{$shop_vbanner.picurl}" class="view_img form-control" required="" aria-required="true" placeholder="请上传Banner图片">
                                <span class="help-block m-b-none"><iframe src="{:U('/admin/upload/show',array('sid'=>'shop_video_banner','fileback'=>'picurl'))}" scrolling="no" topmargin="0" width="300" height="36" marginwidth="0" marginheight="0" frameborder="0" align="left" style="margin-top:3px; float:left"></iframe></span>
                            </div>
                        </div>


                 

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">权重： </label>
                            <div class="col-sm-8">
                                <input type="text" name="order" value="{$shop_vbanner.order}" class="form-control" required="" aria-required="true" placeholder="权重越大越靠前展示">
                            </div>
                        </div>
                        
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">跳转商品id： </label>
                            <div class="col-sm-8">
                                <input type="text" name="businessid" value="{$shop_vbanner.businessid}" class="form-control" required="" aria-required="true" placeholder="跳转商品id">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group" style="display: none">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input id="hello" class="laydate-icon form-control layer-date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">时间区间：</label>
                            <div class="col-sm-10">
                                <input placeholder="开始日期" name="begin_time" value="{$shop_vbanner.begin_time}" class="form-control layer-date" id="start" required="" aria-required="true">
                                <input placeholder="结束日期" name="end_time" value="{$shop_vbanner.end_time}" class="form-control layer-date" id="end" required="" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn" type="submit" style="background: #e00214;color: #fff;">保存内容</button>
                                <!--<button class="btn btn-white" type="reset">取消</button>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <!-- iCheck -->
    <script src="__PUBLIC__/js/plugins/iCheck/icheck.min.js"></script>



    <script type="text/javascript">
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }






        //外部js调用
        laydate({
            elem: '#hello', //目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
            event: 'focus' //响应事件。如果没有传入event，则按照默认的click
        });
        //日期范围限制
        var start = {
            elem: '#start',
            format: 'YYYY/MM/DD hh:mm:ss',
            min: laydate.now(), //设定最小日期为当前日期
            max: '2099-06-16 23:59:59', //最大日期
            istime: true,
            istoday: false,
            choose: function(datas) {
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#end',
            format: 'YYYY/MM/DD hh:mm:ss',
            min: laydate.now(),
            max: '2099-06-16 23:59:59',
            istime: true,
            istoday: false,
            choose: function(datas) {
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate(start);
        laydate(end);
    </script>
</block>